.messages__header {
  border-bottom: 1px solid #e3e5e7;
}

.messages__companion-message {
  background-color: #3a63de;
  border-radius: 8px 8px 8px 1px;
}

.messages__my {
  background-color: #f2f5fa;
  border-radius: 8px 8px 1px 8px;
}
